= render "expenses/expense", expense: @expense
- if @expense.comment?
  %div.balloon
    %div.faceicon
      = image_tag current_user.gravatar_url, class: "img-circle gravatar"
    %div.chatting
      %div.says
        %p= simple_format(@expense.comment)
